<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.MachineTableFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.server.pojo.MachineTableField">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="name_zh" property="nameZh" />
        <result column="name_en" property="nameEn" />
        <result column="edit" property="edit" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, name_zh, name_en, edit
    </sql>

</mapper>
