<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.MachineTraceMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.example.server.pojo.MachineTrace">
    <id column="id" property="id"/>
    <result column="number" property="number"/>
    <result column="imei" property="imei"/>
    <result column="paiji_barcode" property="paijiBarcode"/>
    <result column="status_id" property="statusId"/>
    <result column="receipt_id" property="receiptId"/>
    <result column="time" property="time"/>
    <result column="operate_emp_id" property="operateEmpId"/>
    <result column="comment" property="comment"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
    , number, imei, paiji_barcode, status_id, receipt_id, time, operate_emp_id, comment
  </sql>

  <!-- 获取所有数据 -->
  <select id="getAllStatistics" resultType="com.example.server.pojo.Statistics">
    <if test="dateScope != null">
      <foreach collection="dateScope" item="date" separator=",">
        <if test="date == 0">
          select a.operate_emp_id, a.status_id, 0 as dateScope, ifnull(b.sum, 0) as 'sum'
          from (
          select tm.id as 'operate_emp_id', tms.id as 'status_id'
          from t_employee as tm
          join t_machine_status as tms
          on 1=1
          <if test="empIds != null">
            and tm.id in (
            <foreach collection="empIds" item="empId" separator=",">
              #{empId}
            </foreach>
            )
          </if>

          <if test="statusIds != null">
            and tms.id in
            (
            <foreach collection="statusIds" item="statusId" separator=",">
              #{statusId}
            </foreach>
            )
          </if>
          ) as a
          left join (select operate_emp_id, status_id, count(distinct number) as 'sum'
          from t_machine_trace
          where 1 = 1

          <if test="empIds != null">
            and operate_emp_id in (
            <foreach collection="empIds" item="empId" separator=",">
              #{empId}
            </foreach>
            )
          </if>

          <if test="statusIds != null">
            and status_id in
            (
            <foreach collection="statusIds" item="statusId" separator=",">
              #{statusId}
            </foreach>
            )
          </if>
          and DATEDIFF(time, NOW()) = 0
          group by operate_emp_id, status_id) as b
          on a.operate_emp_id = b.operate_emp_id and a.status_id = b.status_id
        </if>
      </foreach>
    </if>
    <if test="dateScope != null">
      <foreach collection="dateScope" item="date" separator=",">
        <if test="date == 1">
          union(
          select a.operate_emp_id, a.status_id, 1 as dateScope, ifnull(b.sum, 0) as 'sum'
          from (
          select tm.id as 'operate_emp_id', tms.id as 'status_id'
          from t_employee as tm
          join t_machine_status as tms
          on 1=1
          <if test="empIds != null">
            and tm.id in (
            <foreach collection="empIds" item="empId" separator=",">
              #{empId}
            </foreach>
            )
          </if>
          <if test="statusIds != null">
            and tms.id in
            (
            <foreach collection="statusIds" item="statusId" separator=",">
              #{statusId}
            </foreach>
            )
          </if>
          ) as a
          left join (select operate_emp_id, status_id, count(distinct number) as 'sum'
          from t_machine_trace
          where 1 = 1
          <if test="empIds != null">
            and operate_emp_id in (
            <foreach collection="empIds" item="empId" separator=",">
              #{empId}
            </foreach>
            )
          </if>
          <if test="statusIds != null">
            and status_id in
            (
            <foreach collection="statusIds" item="statusId" separator=",">
              #{statusId}
            </foreach>
            )
          </if>
          and time >=
          date_format(date_sub(date_sub(now(), INTERVAL WEEKDAY(NOW()) DAY), INTERVAL 1 WEEK),
          '%Y-%m-%d')
          group by operate_emp_id, status_id) as b
          on a.operate_emp_id = b.operate_emp_id and a.status_id = b.status_id
          )

        </if>
      </foreach>
    </if>
    <if test="dateScope != null">
      <foreach collection="dateScope" item="date" separator=",">
        <if test="date == 2">
          union(
          select a.operate_emp_id, a.status_id, 2 as dateScope,ifnull(b.sum, 0) as 'sum'
          from (
          select tm.id as 'operate_emp_id', tms.id as 'status_id'
          from t_employee as tm
          join t_machine_status as tms
          on 1=1
          <if test="empIds != null">
            and tm.id in (
            <foreach collection="empIds" item="empId" separator=",">
              #{empId}
            </foreach>
            )
          </if>

          <if test="statusIds != null">
            and tms.id in
            (
            <foreach collection="statusIds" item="statusId" separator=",">
              #{statusId}
            </foreach>
            )
          </if>
          ) as a
          left join (select operate_emp_id, status_id, count(distinct number) as 'sum'
          from t_machine_trace
          where 1 = 1

          <if test="empIds != null">
            and operate_emp_id in (
            <foreach collection="empIds" item="empId" separator=",">
              #{empId}
            </foreach>
            )
          </if>

          <if test="statusIds != null">
            and status_id in
            (
            <foreach collection="statusIds" item="statusId" separator=",">
              #{statusId}
            </foreach>
            )
          </if>

          and time between (SELECT DATE_ADD(now(), INTERVAL -1 MONTH)) and now()
          group by operate_emp_id, status_id) as b
          on a.operate_emp_id = b.operate_emp_id and a.status_id = b.status_id
          )

        </if>
      </foreach>
    </if>

    <if test="dateScope != null">
      <foreach collection="dateScope" item="date" separator=",">
        <if test="date == 3">
          union(
          select a.operate_emp_id, a.status_id, 3 as dateScope,ifnull(b.sum, 0) as 'sum'
          from (
          select tm.id as 'operate_emp_id', tms.id as 'status_id'
          from t_employee as tm
          join t_machine_status as tms
          on 1=1
          <if test="empIds != null">
            and tm.id in (
            <foreach collection="empIds" item="empId" separator=",">
              #{empId}
            </foreach>
            )
          </if>

          <if test="statusIds != null">
            and tms.id in
            (
            <foreach collection="statusIds" item="statusId" separator=",">
              #{statusId}
            </foreach>
            )
          </if>
          ) as a
          left join (select operate_emp_id, status_id, count(distinct number) as 'sum'
          from t_machine_trace
          where 1 = 1

          <if test="empIds != null">
            and operate_emp_id in (
            <foreach collection="empIds" item="empId" separator=",">
              #{empId}
            </foreach>
            )
          </if>

          <if test="statusIds != null">
            and status_id in
            (
            <foreach collection="statusIds" item="statusId" separator=",">
              #{statusId}
            </foreach>
            )
          </if>
          and time between (SELECT DATE_ADD(now(), INTERVAL -1 MONTH)) and now()
          group by operate_emp_id, status_id) as b
          on a.operate_emp_id = b.operate_emp_id and a.status_id = b.status_id
          )
        </if>
      </foreach>
    </if>
    order by operate_emp_id
  </select>

  <!-- 获取当前登录者的数据 -->
  <select id="getOneStatistics" resultType="com.example.server.pojo.Statistics">
    select a.operate_emp_id, a.status_id, ifnull(b.sum, 0) as 'sum'
    from (
           select tm.id as 'operate_emp_id', tms.id as 'status_id'
           from t_employee as tm
                  join t_machine_status as tms
                       on 1 = 1
                         and tm.id = #{empId}
         ) as a
           left join (select operate_emp_id, status_id, count(distinct number) as 'sum'
                      from t_machine_trace
                      where 1 = 1
                        and DATEDIFF(time, NOW()) = 0
                      group by operate_emp_id, status_id) as b
                     on a.operate_emp_id = b.operate_emp_id and a.status_id = b.status_id
    having sum != 0
  </select>

</mapper>
