<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.MachineDownShelfMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.example.server.pojo.MachineDownShelf">
    <id column="id" property="id"/>
    <result column="machine_id" property="machineId"/>
    <result column="machine_number" property="machineNumber"/>
    <result column="recall_time" property="recallTime"/>
    <result column="operate_emp_id" property="operateEmpId"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
    , machine_id, machine_number, recall_time, operate_emp_id
  </sql>

  <!-- 获取下架信息 -->
  <select id="getMachineDownShelf" resultType="com.example.server.pojo.MachineDownShelf">
    select *
    from t_machine_down_shelf
  </select>

</mapper>
