<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.server.mapper.PurchaseReturnReceiptToMachineMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="com.example.server.pojo.PurchaseReturnReceiptToMachine">
    <id column="id" property="id"/>
    <result column="receipt_id" property="receiptId"/>
    <result column="machine_number" property="machineNumber"/>
    <result column="machine_id" property="machineId"/>
    <result column="machine_sku" property="machineSku"/>
    <result column="purchase_price" property="purchasePrice"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
    , receipt_id, machine_number, machine_id, machine_sku, purchase_price
  </sql>

  <select id="getPurchaseReturnReceiptToMachine"
          resultType="com.example.server.pojo.PurchaseReturnReceiptToMachine">
    select *
    from t_purchase_return_receipt_to_machine
    where receipt_id = #{receiptId}
  </select>

</mapper>
